* {
  font-family: Inter;
}

body {
  position: relative !important;
  overflow: scroll !important;
}

h1 {
  margin: 24px;
}

.topbars {
  padding: 32px;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 42px;
  background-image: url("./bg-1.jpg");

  .row{
    display: flex;
    flex-direction: row;
    gap: inherit;
  }
}


.topbars main {
  
}