* {
  font-family: Inter;
}

body {
  position: relative !important;
  overflow: scroll !important;
  --accent: rgb(245, 35, 75);
  --accent-filter: invert(20%) sepia(72%) saturate(4109%) hue-rotate(339deg)
		brightness(102%) contrast(92%);
}

.top {
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  gap: 16px;
  background-color: white;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);

  h1 {
    margin: 24px;
  }

  label {
    margin: auto 0;
  }
}

.topbars {
  padding: 32px;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 42px;
  background-image: url("./bg-1.jpg");

  .row{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: inherit;

    &:has(.browser) {
      margin-bottom: -42px;
    }

    .browser {
    }
  }
}


.topbars main {
  
}